<h2>HELLO ANGUALR 9</h2>
<app-userlist></app-userlist>
<app-login></app-login>
<app-insertdata></app-insertdata>



<!-- Interpolation -->
<h1>{{title}}</h1>
<h1>{{a+b}}</h1>
<h1>{{obj.name}}</h1>
<h1>{{arrayTest}}</h1>

<br>

Click Event
<button (click)="clickMeEvent()">Click me</button>
<!-- <button (click)="clickMeEvent(10,20)">Click me</button> -->

<br>

ngFor
<div *ngFor="let students of student">
    <h2>{{students}}</h2>
</div>

<br>    
<div *ngFor="let x of info">
    <h2>Name: {{x.name}} , Email: {{x.email}}</h2>
</div>
<br>
<br>

Property Binding
<input type="text" disabled={{disableTextBox}} name="{{title}}">
<input type="text" [disabled]="disableTextBox" [name]="title">


<br>
<br>
*ngIf
<!-- <h1 *ngIf="show">PNINFOSYS</h1> -->
<h1 *ngIf="show;then ifBlock; else elseBlock">PNINFOSYS</h1>
<ng-template #ifBlock>
    <h2>if block is here</h2>
</ng-template>
<ng-template #elseBlock>
    <h2>Else block is here</h2>
</ng-template>


<ng-container *ngIf="title=='PNINFOSYS'; then ifBlock; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <h2>IF</h2>
</ng-template>
<ng-template #elseTemplate>
    <h2>Else</h2>
    
</ng-template>
